.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel div {
  flex: 0 0 100%;
}

.carousel div.active {
  opacity: 1;
}

p {
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

p.author {
  font-style: italic;
}
